.Banniere_contener {
    background-image: url('../../asset/images/banniere.webp');
    border-bottom: blueviolet 4px solid;
    height: 600px;
}
.Portrait_contener{
    align-items: start;
    .Portrait{
        width: 230px;
        height: 300px;
        padding: 50px 0px 50px 100px;
    }

    h2 {
        color: blueviolet;
        font-size: 70px;
        font-family: 'Trebuchet MS';
        margin-top: 0px;
        padding-left: 10px;
    }
    
}

