.Banniere_contener {
    background-image: url('../../asset/images/banniere.webp');
    border-bottom: blueviolet 4px solid;
    height: 600px;
}
.Portrait_contener{
    align-items: start;
    .Portrait{
        width: 170px;
        height: 200px;
        padding: 80px;
    }

    h2 {
        color: blueviolet;
        font-size: 3vw;
        font-family: 'Trebuchet MS';
        margin-top: 0px;
        padding-left: 45px;
    }
    
}

