.Contact {
    text-align: center;
    font-family: 'Trebuchet MS';
  }
  
  .Contact-contener {
    background-color: #282c34;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 150px;
      h2{
        font-size: 4vw;
      }
  }

  .Contact_list{
    text-align: start;
    li {
      color: blueviolet;
      font-size: 3vw;
      padding: 15px;
    }

    a {
      color: blueviolet;
      text-decoration: none;
    }
    
    a:hover{
      text-shadow: blue 2px 10px 20px;
  }
  img{
    height: 80px;
    padding-right: 45px;
  }
  }