main{
    display: flex;
    flex-direction: column;
    margin-inline: 100px;
    @media screen and (max-width: 845px){
    margin-inline: 20px;
    }
}

    .bannerH{
        width: 100%;
        z-index: 2;
        max-width: 1240px;
        position: relative;
        display: grid;
        background-position: center;
        background-size: cover;
        background-image:  url("../../asset/images/banner.webp");
        place-items: center;
        min-height: 223px;
        border-radius: 25px;
        @media screen and (max-width: 690px){
            margin-inline: auto;
            max-width: 440px;
            min-height: 111px;
            border-radius: 10px;
        }
    }

    .banner_titre{
        z-index: 1;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        text-align: start;  
        
        @media screen and (max-width: 968px){
            font-size: 32px;
            padding: 10px;
        }
        @media screen and (max-width: 690px){
            width: 75%;
            padding-inline: 15px;
            font-size: 24px;
        }
    }
    .banner_titre span {
        white-space: nowrap;
    } 
    .bannerH::before{
        position: absolute;
        content: "";
        inset: 0;
        opacity: 0.3;
        border-radius: 25px;
        background-color: black;
        mix-blend-mode: darken;
        @media screen and (max-width: 690px){
            border-radius: 10px;
        }
    }

    .home-Contener{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vw;
        background-color: #F7F7F7;
        border-radius: 25px;
        padding: 5% 5% 4% 5%;
        margin-top: 43px;
        justify-content: center;
        @media screen and (max-width: 960px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 690px){
            margin-inline: auto;
            grid-template-columns: 1fr;
            background-color: white;
            padding: 0% 0% 6% 0%;
        }
    }
   