.Home {
  text-align: center;
  font-family: 'Trebuchet MS';
}

.Home-contener {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 150px;
    h1{
      color: blueviolet;
      text-shadow: black 1px 0 10px;
      font-size: 4vw;
    }

    h2 {
      color: blueviolet;
      font-size: 2vw;
      text-shadow: black 1px 0 10px;
      background: radial-gradient(black, #282c34);

    }
    li{
      text-align: start;
      ::marker{
        padding-right: 150px;
      }
    }
    .download{
      padding-top: 50px;
    }
}

@media screen and (max-width: 530px){
  .Home-contener {
      h1{
        font-size: 24px;
      }
  
      h2 {
        font-size: 18px;
      }
      
      .download{
        font-size: 18px;
        text-align: center;
      }
  }
}

