.Home {
  text-align: center;
  font-family: 'Trebuchet MS';
}

.Home-contener {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 150px;
    h1{
      font-size: 4vw;
    }

    h2 {
      color: blueviolet;
      font-size: 3vw;
    }
}