.card{
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    min-width: 200px;
    min-height: 200px;
    max-width: 440px;
    max-height: 440px;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    } 
    
    .card__titre{
        z-index: 1;
        display: flex;
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        padding: 20px;
        color: white;
        text-align: start;
    }
}

.card::before{
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 10px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
