
.image__banner{
    display: flex;
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    
    @media screen and (max-width: 390px){
        height: 255px;
        width: 335px;
        border-radius: 10px;
    }
    
    img{
       position: absolute;
       width: 100%;
       height: 100%;
       inset: 0;
       object-fit: cover;
       border-radius: 25px; 
       opacity: 0;
       &.show {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        @media screen and (max-width: 390px){
            border-radius: 10px;
        }
       }
    }
        .btn{
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
            background-color: transparent;
            color: white ;
            border: none;
            font-size: 80px;
            justify-content: space-around;
            width: 8%;
            padding: 0px 70px 0px 20px;
            filter: drop-shadow(0 0 0.75rem rgb(218, 217, 217));
            @media screen and (max-width: 390px){
                min-height: 85px;
                padding: 0px 35px 0px 20px;
                font-size: 24px;
            }
        }

       .btn-next{
        right: 0;
       }

       .btn-previous{
        left: 0;
       }

       .compteur{
        position: absolute;
        width: 100%;
        z-index: 1;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 1em gray;
        bottom: 1rem;
       }
}