.navbare {
    background-color: black;
    border-top: blueviolet 4px solid;

    ul {
        text-align: end;
        padding: 30px 50px 30px 0px;
        margin: 0;
        font-size: 2vw;
        color: blueviolet;

        a {
            text-decoration: none;
            padding-right: 50px; 
            color: blueviolet;
        }

        a:hover{
            text-shadow: blue 2px 10px 20px;
        }
    }
}